@font-face {
  font-family: BoldFont;
  src: url(Font/NDAstroneer-Bold.ttf);
}

@font-face {
  font-family: RegularFont;
  src: url(Font/NDAstroneer-Regular.ttf);
}

@font-face {
  font-family: LightFont;
  src: url(Font/NDAstroneer-Light.ttf);
}

nav#blog {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #1B1836;
    padding-top: 3px;
    box-shadow: 0 0 1rem #0c0d1d;
  }
  @media only screen and (min-width: 1025px) {
    nav#blog::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 3px;
      background-color: #129af0;
      box-shadow: 0 0 1rem #129af0;
    }
  }
  nav#blog .in {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav#blog .in .status {
    color: #858397;
  }
  nav#blog .in .status span {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 0.5rem;
  }
  nav#blog .in .menu-trigger {
    transition: 0.25s ease margin-left;
  }
  nav#blog .in .menu-trigger img.menu-icon {
    display: block;
    padding: 1rem;
  }
  @media only screen and (min-width: 1281px) {
    nav#blog .in .menu-trigger {
      display: none;
    }
  }
  nav#blog .in ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav#blog .in ul li {
    margin-left: 1rem;
  }
  nav#blog .in ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.35);
    padding: 1rem;
    text-decoration: none;
    transition: 0.1s ease color;
  }
  nav#blog .in ul li a:hover {
    color: #ffffff;
  }
  @media only screen and (max-width: 1280px) {
    nav#blog .in ul li a {
      padding: 1rem 0.5rem;
    }
  }
  nav#blog .in ul li.selected a {
    color: #129af0;
    text-shadow: 0 0 1rem #129af0;
  }
  nav#blog .in ul li.search {
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;
    box-shadow: 1rem 0 0 #1B1836;
    transition: 0.25s ease background-color, 0.25s ease box-shadow;
  }
  nav#blog .in ul li.search:hover {
    background-color: #129af0;
    box-shadow: 1rem 0 0 #129af0;
  }
  nav#blog form.search {
    flex-grow: 1;
  }
  nav#blog form.search input[type="text"] {
    font-family: "RegularFont", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    box-sizing: border-box;
    text-align: right;
    width: 100%;
  }
  @media only screen and (min-width: 578px) {
    nav#blog form.search input[type="text"] {
      transition: 0.15s ease color, 0.15s ease padding-right, 0.15s ease background;
      background: url('../img/icon-arrow-right.svg') right center / 1rem no-repeat;
      background-position: 120% 50%;
    }
    nav#blog form.search input[type="text"]:focus {
      color: #129af0;
      padding-right: 2rem;
      background-position: 100% 50%;
    }
  }
  nav#blog form.search input[type="submit"] {
    font-family: "RegularFont", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: none;
  }
  @media only screen and (min-width: 1281px) {
    nav#blog:not(.search-mode) form {
      display: none !important;
    }
    nav#blog:not(.search-mode) .in ul li.search img.close-icon {
      display: none;
    }
    nav#blog:not(.search-mode) .in ul li.search img.search-icon {
      display: block;
    }
    nav#blog.search-mode .in ul li:not(.search) {
      display: none !important;
    }
    nav#blog.search-mode .in ul li.search {
      background-color: #129af0;
      box-shadow: 1rem 0 0 #129af0;
    }
    nav#blog.search-mode .in ul li.search img.close-icon {
      display: block;
      width: 1rem;
    }
    nav#blog.search-mode .in ul li.search img.search-icon {
      display: none;
    }
  }
  @media only screen and (max-width: 1024px) {
    nav#blog {
      position: fixed;
      z-index: 9998;
      width: 100%;
      margin: 0 !important;
      top: 0 !important;
      bottom: unset !important;
      right: 0;
      box-sizing: border-box;
      padding: 0 0 0 calc(108px + 8rem) !important;
    }
    nav#blog .in {
      justify-content: flex-end;
    }
    nav#blog .in .status {
      display: none;
    }
  }
  @media only screen and (max-width: 1280px) {
    nav#blog .in {
      position: relative;
    }
    nav#blog .in ul {
      position: absolute;
      right: 4rem;
      top: 100%;
      flex-direction: column;
      background: #0c0d1d;
      border-radius: 0 0 0.5rem 0.5rem;
      box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.4);
    }
    nav#blog .in ul li {
      margin: 0;
      padding: 0;
      border-top: 1px solid #222553;
      width: 100%;
    }
    nav#blog .in ul li.search {
      display: none !important;
    }
    nav#blog .in ul li a {
      padding: 1rem;
      text-align: right;
    }
    nav#blog:not(.expanded) .in ul {
      display: none;
    }
    nav#blog.expanded .menu-trigger {
      background-color: #0c0d1d;
      margin-left: 1rem;
    }
  }
  @media only screen and (max-width: 768px) {
    nav#blog .in ul {
      right: 2rem;
    }
  }
  @media only screen and (max-width: 577px) {
    nav#blog {
      padding: 0 0 0 calc(108px + 2rem) !important;
    }
    nav#blog .in {
      padding-right: 0;
    }
    nav#blog .in ul {
      right: 0;
    }
  }
  #hero {
    padding: 0;
  }
  #hero .article-wrapper {
    margin: 8rem 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    #hero .article-wrapper {
      padding-top: 1rem;
      grid-template-columns: repeat(1, 1fr);
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  #hero .article-wrapper figure {
    position: relative;
    grid-column: 2 / 3;
    box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.4);
  }
  @media only screen and (max-width: 768px) {
    #hero .article-wrapper figure {
      display: none;
    }
  }
  #hero .article-wrapper figure img {
    border-radius: 3px;
  }
  #hero .article-wrapper figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  #hero .article-wrapper .article-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  @media only screen and (min-width: 769px) {
    #hero .article-wrapper .article-content {
      padding-right: 4rem;
    }
  }
  #hero .article-wrapper .article-content h2 {
    line-height: 1.25;
  }
  #hero .article-wrapper .article-content a.read-more {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background: url("../img/arrow-e.svg") right center / 12px no-repeat;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  #hero .article-wrapper .article-content a.read-more span {
    position: relative;
  }
  #hero .article-wrapper .article-content a.read-more::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: calc(100% + 2rem);
    border-radius: 2rem;
    background-color: rgba(12, 13, 29, 0.5);
    opacity: 0;
    transition: 0.15s ease opacity;
  }
  @media (hover:hover) {
    #hero .article-wrapper .article-content a.read-more:hover {
      color: inherit;
    }
    #hero .article-wrapper .article-content a.read-more:hover::before {
      opacity: 1;
    }
  }
  article .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(16px);
    opacity: 0.35;
    pointer-events: none;
    transform: scale(1.125);
  }
  article .article-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    text-transform: uppercase;
    flex-wrap: wrap;
    line-height: 2;
  }
  @media only screen and (max-width: 768px) {
    article .article-meta {
      justify-content: center;
    }
  }
  article .article-meta time {
    background: url("../img/calendar-white.svg") left center / contain no-repeat;
    padding-left: 1.75em;
  }
  article .article-meta ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  article .article-meta ul.tags {
    margin-left: 0.5rem;
  }
  article .article-meta ul.tags li {
    margin-left: 0.5rem;
  }
  article .article-meta ul.tags li a {
    color: #129af0;
  }
  article .article-meta ul.tags li a::before {
    content: "#";
  }
  article.hero-story .article-meta .publish-date::after {
    content: "in";
  }
  article.preview {
    position: relative;
    overflow: hidden;
  }
  article.preview figure img {
    display: block;
    max-width: 100%;
  }
  article.preview .article-wrapper {
    position: relative;
    z-index: 2;
  }
  article#detail-view {
    background: #1B1836;
  }
  article#detail-view nav#blog {
    top: unset;
    bottom: 0;
    padding: 0 0 3px;
    box-shadow: 0 0 1rem #1B1836;
  }
  article#detail-view nav#blog::before {
    top: unset;
    bottom: 0;
  }
  article#detail-view nav#blog .in {
    max-width: unset;
  }
  article#detail-view header.detail-view-header {
    position: relative;
    margin: 0 !important;
  }
  article#detail-view header.detail-view-header .bgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.65;
    overflow: hidden;
  }
  article#detail-view header.detail-view-header .bgs .bg,
  article#detail-view header.detail-view-header .bgs .bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  article#detail-view header.detail-view-header .bgs .bg-blur {
    filter: blur(32px);
    transform: scale(1.25);
  }
  article#detail-view header.detail-view-header .bgs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgba(12, 13, 29, 0), #1B1836);
  }
  article#detail-view header.detail-view-header .article-header {
    position: relative;
    color: white;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2rem 1fr 1fr 8rem;
    grid-template-rows: repeat(1, auto);
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header {
      grid-template-columns: 2rem 1fr 1fr 6rem;
      padding-top: 6rem;
    }
  }
  article#detail-view header.detail-view-header .article-header .author-link {
    display: block;
    text-decoration: none;
  }
  @media only screen and (min-width: 769px) {
    article#detail-view header.detail-view-header .article-header .author-link {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
      padding-top: 3rem;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .author-link {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
    }
  }
  @media only screen and (max-width: 577px) {
    article#detail-view header.detail-view-header .article-header .author-link {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: end;
    }
  }
  article#detail-view header.detail-view-header .article-header .author-link address {
    box-sizing: border-box;
  }
  article#detail-view header.detail-view-header .article-header .author-link address img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.4);
  }
  article#detail-view header.detail-view-header .article-header .author-link address span {
    display: block;
    font-style: normal;
    text-align: center;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
  }
  @media only screen and (max-width: 577px) {
    article#detail-view header.detail-view-header .article-header .author-link address span {
      display: none;
    }
  }
  @media only screen and (min-width: 769px) {
    article#detail-view header.detail-view-header .article-header .addthis_inline_share_toolbox {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .addthis_inline_share_toolbox {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .addthis_inline_share_toolbox {
      grid-row: 1 / 2;
    }
  }
  @media only screen and (min-width: 769px) {
    article#detail-view header.detail-view-header .article-header .meta-h1-wrapper {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .meta-h1-wrapper {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      margin-left: 1rem;
      font-size: 0.75rem;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .meta-h1-wrapper {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      margin-left: 1rem;
    }
  }
  @media only screen and (max-width: 577px) {
    article#detail-view header.detail-view-header .article-header .meta-h1-wrapper {
      grid-column: 2 / 5;
      grid-row: 1 / 3;
      align-self: center;
    }
  }
  article#detail-view header.detail-view-header .article-header .article-meta {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header .article-meta {
      font-size: 0.75rem;
    }
  }
  @media only screen and (max-width: 577px) {
    article#detail-view header.detail-view-header .article-header .article-meta {
      flex-wrap: wrap;
      line-height: 1.5;
    }
  }
  article#detail-view header.detail-view-header .article-header .article-meta ul.tags li a {
    text-decoration: none;
    transition: 0.25s ease color;
  }
  article#detail-view header.detail-view-header .article-header .article-meta ul.tags li a:hover {
    color: #72c3f6;
  }
  article#detail-view header.detail-view-header .article-header h1 {
    margin: 0 2rem 0 0;
    line-height: 1.25;
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header h1 {
      font-size: 2rem;
    }
  }
  article#detail-view header.detail-view-header .article-header figure {
    position: relative;
  }
  @media only screen and (min-width: 769px) {
    article#detail-view header.detail-view-header .article-header figure {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      margin-bottom: -3rem;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header figure {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
      margin-bottom: -2rem;
      margin-top: 2rem;
    }
  }
  article#detail-view header.detail-view-header .article-header figure img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.4);
  }
  article#detail-view header.detail-view-header .article-header description {
    background: #0c0d1d;
    padding: 4rem;
    border-radius: 3px;
  }
  article#detail-view header.detail-view-header .article-header description p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.65;
    font-weight: 300;
  }
  @media only screen and (min-width: 769px) {
    article#detail-view header.detail-view-header .article-header description {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }
  }
  @media only screen and (max-width: 768px) {
    article#detail-view header.detail-view-header .article-header description {
      grid-column: 1 / 5;
      grid-row: 4 / 5;
      padding: 3rem;
    }
  }
  @media only screen and (max-width: 577px) {
    article#detail-view header.detail-view-header .article-header description {
      background-color: unset;
      padding: 2rem 0 0;
    }
    article#detail-view header.detail-view-header .article-header description p {
      font-size: 1.125rem;
    }
  }
  article#detail-view main {
    position: relative;
    padding-bottom: 4rem;
  }
  article#detail-view main > * {
    margin: 1.5rem auto;
    max-width: 768px;
  }
  article#detail-view main > *:first-child {
    margin-top: 0;
  }
  article#detail-view main > *:last-child {
    margin-bottom: 0;
  }
  article#detail-view main hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: unset;
    height: 3px;
    background-color: #129af0;
    box-shadow: 0 0 1rem #129af0;
    border: none;
    border-radius: 3px;
  }
  article#detail-view main h2,
  article#detail-view main h3,
  article#detail-view main h4,
  article#detail-view main h5,
  article#detail-view main h6 {
    color: #ffffff;
    margin-top: 3rem;
    line-height: 1.25;
  }
  @media only screen and (max-width: 577px) {
    article#detail-view main h2 {
      font-size: 2rem;
    }
    article#detail-view main h3 {
      font-size: 1.5rem;
    }
  }
  article#detail-view main p,
  article#detail-view main ol,
  article#detail-view main ul {
    color: #9391a2;
    line-height: 1.5;
  }
  article#detail-view main p a,
  article#detail-view main ol a,
  article#detail-view main ul a {
    color: #129af0;
    transition: 0.15s ease color;
  }
  article#detail-view main p a:hover,
  article#detail-view main ol a:hover,
  article#detail-view main ul a:hover {
    color: #72c3f6;
  }
  article#detail-view main .video-embed {
    position: relative;
    padding-bottom: 56.25%;
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    max-width: unset;
    box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.4);
  }
  article#detail-view main .video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  article#detail-view main .embedly-card .embedly-card-hug {
    background-color: #ddd !important;
    border-radius: 3px;
  }
  article#detail-view main figure {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: unset;
  }
  article#detail-view main figure img {
    display: block;
    max-width: 100%;
  }
  article#detail-view main figure figcaption {
    background-color: #2d2859;
    color: #78768b;
    text-align: center;
    padding: 1rem;
    line-height: 1.5;
  }
  h3.section-heading {
    position: relative;
    margin: 8rem 0 0;
    text-align: center;
    color: white;
  }
  section#topic-intro {
    position: relative;
  }
  @media only screen and (max-width: 768px) {
    section#topic-intro {
      padding-top: 4rem;
    }
  }
  section#topic-intro .bgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.35;
    overflow: hidden;
  }
  section#topic-intro .bgs .bg,
  section#topic-intro .bgs .bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  section#topic-intro .bgs .bg-blur {
    filter: blur(32px);
    transform: scale(1.25);
    opacity: 0.85;
  }
  section#topic-intro h1 {
    position: relative;
    margin: 4rem 0;
    text-align: center;
  }
  @media only screen and (max-width: 577px) {
    section#topic-intro h1 {
      font-size: 2rem;
    }
  }
  section {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 4rem 0;
    box-sizing: border-box;
    color: #ffffff;
  }
  section a {
    color: #ffffff;
    text-decoration: none;
  }
  section a:hover {
    color: #129af0;
  }
  section:nth-child(odd) {
    background: #0c0d1d;
  }
  section:nth-child(even) {
    background: #100e26;
  }
  section .in > * {
    margin: 1.5rem auto;
  }
  section .in > *:first-child {
    margin-top: 0;
  }
  section .in > *:last-child {
    margin-bottom: 0;
  }
  section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section#blogroll.related {
    background-color: transparent;
  }
  section#blogroll .in .blogroll-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    align-items: start;
    grid-auto-flow: dense;
  }
  @media only screen and (max-width: 1280px) {
    section#blogroll .in .blogroll-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 768px) {
    section#blogroll .in .blogroll-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width: 577px) {
    section#blogroll .in .blogroll-grid {
      grid-gap: 2rem;
    }
  }
  section#blogroll .in .blogroll-grid .load-more-stories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding: 2rem;
    border: 3px solid #1B1836;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
    color: #1B1836;
    height: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    grid-column-start: auto;
    grid-column-end: 4;
    background: none;
    font-family: "RegularFont", sans-serif;
  }
  section#blogroll .in .blogroll-grid .load-more-stories:hover {
    color: #129af0;
    border-color: #129af0;
  }
  @media only screen and (min-width: 1281px) {
    section#blogroll .in .blogroll-grid .load-more-stories.medium {
      grid-column: 2 / 4;
    }
    section#blogroll .in .blogroll-grid .load-more-stories.big {
      grid-column: 1 / 4;
    }
  }
  @media only screen and (max-width: 1280px) {
    section#blogroll .in .blogroll-grid .load-more-stories.medium {
      grid-column: 2 / 3;
    }
    section#blogroll .in .blogroll-grid .load-more-stories.big {
      grid-column: 1 / 3;
    }
  }
  @media only screen and (max-width: 768px) {
    section#blogroll .in .blogroll-grid .load-more-stories.medium {
      grid-column: 1 / 2;
    }
    section#blogroll .in .blogroll-grid .load-more-stories.big {
      grid-column: 1 / 2;
    }
  }
  section#blogroll .in .blogroll-grid article.preview {
    position: relative;
    background-color: #1B1836;
    border-radius: 3px;
    cursor: default;
    transition: 0.25s ease box-shadow;
  }
  @media only screen and (max-width: 768px) {
    section#blogroll .in .blogroll-grid article.preview {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  section#blogroll .in .blogroll-grid article.preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 5;
    border-radius: 3px;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.25s ease border, 0.25s ease box-shadow;
  }
  section#blogroll .in .blogroll-grid article.preview figure {
    position: relative;
    transition: 0.25s ease box-shadow;
  }
  section#blogroll .in .blogroll-grid article.preview figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: 0.25s ease border-color, 0.25s ease box-shadow;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content {
    padding: 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content > * {
    margin: 0.5rem 2rem;
    width: calc(100% - 4rem);
  }
  section#blogroll .in .blogroll-grid article.preview .article-content > *:first-child {
    margin-top: 0;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content > *:last-child {
    margin-bottom: 0;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content .article-meta {
    justify-content: space-between;
    font-size: 0.75rem;
    color: #6e6998;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content .article-meta ul.tags li a {
    color: #6e6998;
    transition: 0.25s ease color;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content .article-meta ul.tags li a:hover {
    color: #ffffff;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content h2,
  section#blogroll .in .blogroll-grid article.preview .article-content h3,
  section#blogroll .in .blogroll-grid article.preview .article-content h4 {
    font-size: 1.5rem;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content p {
    position: relative;
    display: block;
    color: #6e6998;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.25s ease color;
  }
  section#blogroll .in .blogroll-grid article.preview .article-content a.read-more {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.25s ease background-color, 0.25s ease text-shadow;
  }
  @media (hover: hover) {
    section#blogroll .in .blogroll-grid article.preview:hover {
      box-shadow: 0 0 2rem rgba(18, 154, 240, 0.25);
    }
    section#blogroll .in .blogroll-grid article.preview:hover::after {
      border: 3px solid #129af0;
      box-shadow: inset 0 0 2rem rgba(18, 154, 240, 0.25);
    }
    section#blogroll .in .blogroll-grid article.preview:hover figure {
      box-shadow: 0 0 1rem #129af0;
    }
    section#blogroll .in .blogroll-grid article.preview:hover figure::after {
      border-color: #129af0;
      box-shadow: inset 0 0 1rem #129af0;
    }
    section#blogroll .in .blogroll-grid article.preview:hover .article-content p {
      color: white;
    }
    section#blogroll .in .blogroll-grid article.preview:hover .article-content a.read-more {
      color: #129af0;
    }
    section#blogroll .in .blogroll-grid article.preview:hover .article-content a.read-more:hover {
      color: inherit;
      background-color: #129af0;
      text-shadow: 0 0.125rem 0.5rem #0c0d1d;
    }
  }
  @media only screen and (min-width: 769px) {
    section#blogroll.index .in .blogroll-grid article.preview.wide .article-wrapper {
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
    }
    section#blogroll.index .in .blogroll-grid article.preview.wide .article-wrapper .article-image {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    section#blogroll.index .in .blogroll-grid article.preview.wide .article-wrapper .article-image img {
      display: none;
    }
  }
  @media only screen and (min-width: 1281px) {
    section#blogroll.index .in .blogroll-grid article.preview.wide {
      grid-column: 1 / 4;
    }
  }
  @media only screen and (max-width: 1280px) {
    section#blogroll.index .in .blogroll-grid article.preview.wide {
      grid-column: 1 / 3;
    }
  }
  @media only screen and (max-width: 768px) {
    section#blogroll.index .in .blogroll-grid article.preview.wide {
      grid-column: 1 / 2;
    }
  }
  section#blogroll.index:not(.wide) .article-content p {
    max-height: 112px;
  }
  section#blogroll.index:not(.wide) .article-content p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(27, 24, 54, 0) 50%, #1B1836);
  }

  img.spacer {
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
  }
  section.full {
    min-height: 100vh;
  }
  .in {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .button {
    display: block;
    text-align: center;
    background-color: #129af0;
    color: #ffffff;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    transition: 0.15s ease background-color;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .button img {
    max-width: 32px;
    margin-right: 0.5rem;
  }
  @media (hover:hover) {
    .button:hover {
      background-color: #0c7cc3;
      color: #ffffff;
    }
  }
  html {
    font-family: "RegularFont", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }
  html body {
    background-color: #0c0d1d;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    line-height: 1em;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5,
  h6 {
    font-size: 1rem;
  }
  p {
    line-height: 1.5em;
  }
  article > * {
    margin: 1rem 0;
  }
  article > *:first-child {
    margin-top: 0;
  }
  article > *:last-child {
    margin-bottom: 0;
  }
  article .arve-wrapper {
    max-width: inherit !important;
  }
  article .wp-block-image figcaption {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  article main figure img {
    height: auto;
  }
  article main .alignnone.size-full {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .section-heading {
    text-transform: uppercase;
    line-height: 1;
    font-size: 2rem;
    font-weight: 300;
  }
  .page-header {
    position: relative;
    min-height: 480px;
    overflow: hidden;
  }
  .page-header::before,
  .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
  }
  .page-header::before {
    opacity: 0.5;
    background-attachment: fixed;
  }
  .page-header::after {
    opacity: 0.9;
    filter: blur(128px);
  }
  .page-header .page-header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4rem;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
  }
  .page-header .page-header-content > * {
    display: block;
    text-align: center;
    max-width: 728px;
    max-width: 100%;
    margin: 1rem auto;
  }
  .page-header .page-header-content > *:first-child {
    margin-top: 0 !important;
  }
  .page-header .page-header-content > *:last-child {
    margin-bottom: 0 !important;
  }
  .page-header .page-header-content img {
    display: block;
    max-width: 100%;
  }
  .page-header h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    border-top: 3px solid white;
    padding-top: 1rem;
  }
  #splash {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    background: #0c0d1d;
    transition: 2s ease opacity;
  }
  #splash img {
    display: block;
    width: 4rem;
    transition: 0.5s ease transform;
  }
  #splash .loader-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
  }
  #splash .loader-container .loader-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: #129af0;
    box-shadow: 0 0 1rem 2px #129af0;
    width: 0;
    transition: 1s ease width;
  }
  #splash.ready {
    pointer-events: none;
    opacity: 0;
  }
  #splash.ready img {
    transform: scale(0, 0);
  }
  #splash.ready .loader-container .loader-progress {
    width: 100%;
  }
  header.primary {
    z-index: 99999;
  }
  header.primary.pinned nav#purchase {
    position: fixed;
    bottom: auto;
    top: 0;
    background: rgba(12, 13, 29, 0.9);
  }
  header.primary nav ul li a {
    font-size: 1.5rem;
  }
  header.primary nav#main {
    position: relative;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    background: #0c0d1d;
    box-shadow: 0 0 1rem rgba(16, 14, 38, 0.5);
  }
  header.primary nav#main ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr) auto repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    padding: 1rem 0;
  }
  header.primary nav#main ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }
  header.primary nav#main ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  header.primary nav#main ul li a img {
    display: block;
    max-height: 3rem;
    margin: 0 2rem;
  }
  header.primary nav#main ul li.selected a {
    color: #129af0;
    text-shadow: 0 0 1rem #129af0;
  }
  #social .section-heading {
    text-align: center;
  }
  #social .button {
    max-width: 728px;
    margin: 0 auto;
  }
  #social .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
  #social .social-wrapper .social-link {
    position: relative;
    display: block;
    text-align: center;
    height: 8rem;
    width: 8rem;
    background-position: 50% 35%;
    background-size: auto 4rem;
    background-repeat: no-repeat;
    transition: 0.1s ease background-color, 0.1s ease opacity, 0.1s ease background-size;
    cursor: pointer;
    opacity: 0.75;
  }
  #social .social-wrapper .social-link strong {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0.75rem 0;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  #social .social-wrapper .social-link:hover {
    opacity: 1;
    background-color: #129af0;
    background-size: auto 3rem;
  }
  #social .social-wrapper .social-link:hover strong {
    color: #ffffff;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #adacb2;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.25s ease background;
  }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="password"]:focus {
    background-color: #ffffff;
  }
  form input[type="submit"],
  form button[type="submit"] {
    box-sizing: border-box;
    display: block;
    background-color: #129af0;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 2px;
  }
  footer {
    background: #0c0d1d;
    color: #ffffff;
    padding: 4rem 0;
  }
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  footer a:hover {
    color: #129af0;
  }
  footer .in > * {
    margin: 1.5rem auto;
  }
  footer .in > *:first-child {
    margin-top: 0;
  }
  footer .in > *:last-child {
    margin-bottom: 0;
  }
  footer .in .system-era-logo img {
    display: block;
    width: 128px;
    margin: 0 auto;
  }
  footer .in nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }
  footer .in nav ul li {
    text-transform: uppercase;
  }
  footer .in nav ul li a {
    display: inline-block;
    padding: 0 1rem;
  }
  footer .in nav ul li:first-child {
    padding-right: 1rem;
  }
  footer .in nav ul li:not(:first-child)::before {
    content: "|";
  }
  .hide-1024 {
    display: none;
  }
  @media (max-width: 1024px) {
    .hide-1024 {
      display: block;
    }
    header.primary {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: none;
    }
    header.primary:not(.pinned) nav ul {
      top: 100%;
    }
    header.primary:not(.pinned) nav#main {
      background: rgba(12, 13, 29, 0);
    }
    header.primary:not(.pinned) nav#purchase {
      background: rgba(12, 13, 29, 0.5);
    }
    header.primary.pinned {
      position: fixed;
      bottom: auto;
      top: 0;
    }
    header.primary.pinned nav ul {
      top: 100%;
    }
    header.primary nav {
      position: relative !important;
      box-shadow: none !important;
    }
    header.primary nav#main {
      width: 100%;
      max-width: 100vw;
      box-sizing: border-box;
      top: 0;
      left: auto;
      right: 0;
      background: transparent;
    }
    header.primary nav#main .hide-1024,
    header.primary nav#main ul {
      display: block;
      text-align: left;
    }
    header.primary nav#main .hide-1024 img,
    header.primary nav#main ul img {
      display: block;
      height: 1rem;
    }
    header.primary nav .hide-1024 {
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
    }
    header.primary nav ul {
      position: absolute;
      left: 0;
      width: 100%;
      max-width: 100vw;
      box-sizing: border-box;
      background: rgba(12, 13, 29, 0.9);
      flex-direction: column;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    header.primary nav ul li.emblem {
      display: none !important;
    }
    header.primary nav ul li a {
      padding: 0.5rem 4rem !important;
    }
    header.primary nav ul li a img {
      max-height: 16px;
    }
    header.primary nav:not(.active) ul {
      opacity: 0;
      pointer-events: none;
    }
    header.primary nav.active {
      background: rgba(18, 154, 240, 0.9) !important;
    }
  }
  @media (max-width: 768px) {
    section {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    section#about .float-about-content {
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: -12rem;
    }
    .in {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    section#blog #blogroll {
      flex-direction: column;
    }
    section#blog #blogroll article {
      width: 100%;
      margin: 2rem 0;
    }
    section#blog #blogroll article:first-child {
      margin-top: 0;
    }
    section#blog #blogroll article:last-child {
      margin-bottom: 0;
    }
    header.primary nav#main ul {
      left: 0;
    }
    header.primary nav#purchase ul {
      right: unset;
      left: -100%;
    }
    header.primary nav ul {
      width: 200%;
    }
    header.primary nav ul li a {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
    footer .in nav ul {
      width: 100%;
      flex-direction: column;
    }
    footer .in nav ul li {
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    footer .in nav ul li::before {
      display: none !important;
    }
    footer .in nav ul li a {
      display: block;
    }
  }
  @media (max-width: 425px) {
    h1 {
      font-size: 3rem;
    }
  }