body{
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
  }
  
  @media only screen and (min-width: 400px) {
    @font-face {
      font-family: BoldFont;
      src: url(Font/NDAstroneer-Bold.ttf);
    }

    @font-face {
      font-family: RegularFont;
      src: url(Font/NDAstroneer-Regular.ttf);
    }

    @font-face {
      font-family: LightFont;
      src: url(Font/NDAstroneer-Light.ttf);
    }
    

    .Intro{
      background-image: url(Image/faq-bg.jpg);
      height: 490px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -10px;
      position: relative;
    }
  
    span{
      -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        text-align: center;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
    }
    
  
    .navbar1{
      -webkit-text-size-adjust: 100%;
        color: #ffffff;
        display: none;
        position: absolute;
        width: 99.1%;
        top: 0;
        left: 0;
        margin-left: 9px;
        background: rgba(12, 13, 29, 0.75);
        box-shadow: 0 0 16px rgba(23, 20, 47, 0.5);
        padding-top: 15px;
        height: 60px;
    }
  
    .navbar1 > ul{
      -webkit-text-size-adjust: 100%;
        line-height: 1;
        margin-left: 250px;
        margin-right: 40px;
        margin-bottom: 10px;
        margin-top: -10px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1280px;
    }
  
  
    .link{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        line-height: 1;
        list-style: none;
        color: #ffffff;
        text-decoration: none;
        font-size: 22px;
        margin-top: 10px;
        display: block;
        text-transform: uppercase;
        
    }
  
    .link:hover{
      color: rgb(25, 125, 218);
    }
  
    .emblem{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        color: #ffffff;
        text-transform: uppercase;
        display: block;
        max-height: 48px;
        margin-top: 5px;
    }

    .logo{
      margin-left: 110px;
      margin-top: 50px;
      width: 75%;
    }
  
    .Intro > h3{
      -webkit-text-size-adjust: 100%;
      font-family: "LightFont", sans-serif;
      font-size: 60px;
      width: 80%;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 16px;
      text-transform: uppercase;
      margin-left: 280px;
      margin-top: 15px;
      border-top: 3px solid #ffffff;
      max-width: 425px;
      padding-left: 10px;
      padding-top: 20px;
      font-size: 48px;
      color: #ffffff;
  }
  
    #navbar2 {
        display: none;
        -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        font-size: 16px;
        color: #ffffff;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 527px;
        padding-left: 50px;
        padding-top: 10px;
        z-index: 3;
        background: rgba(12, 13, 29, 0.75);
    }
  
    .ul2{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
  
    .ul2 > li{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        flex-grow: 1;
        margin: 0 8px;
        margin-left: 0;
        padding-left: 10px;
    }
  
    .button{
        -webkit-text-size-adjust: 100%;
        width: 240px;
        text-decoration: none;
        text-align: center;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        background-color: #129af0;
        border: 1px solid cyan;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    .button:hover{
      background-color: #0c7ae6;
    }
  
    .icon{
      height: 32px;
      width: 32px;
      padding-right: 10px;
    }

    .dropbtn {
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 20px;
        padding-right: 351px;
        padding-left: 50px;
        margin-top: 33px;
        z-index: 3;
      }
  
      .dropbtn2 {
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 52px;
        padding-left: 392px;
        padding-right: 50px;
        margin-top: 33px;
        font-family:"RegularFont", sans-serif;
        text-transform: uppercase;
        z-index: 3;
      }
  
      .dropbtn:focus, .dropbtn2:focus {
        background-color:#129af0;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropdown2 {
        position: absolute;
        left: 460px;
        top: 0;
      }
  
      .dropdown-content {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -440px;
      }
  
      .iconMobile{
        width: 40px;
        padding: 5px;
        padding-left: 15px;
      }
  
      .dropdown-content2 {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -428px;
        right: 0;
        padding: 10px;
      }
  
      .dropdown-content a {
        color:#ffffff;
        font-family:"RegularFont", sans-serif;
        padding: 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        color: #129af0;
      }
  
      .dropdown-content2 a {
        color:#ffffff;
        font-family:"BoldFont", sans-serif;
        text-decoration: none;
        display: block;
        padding-bottom: 10px;
      }
  
      .dropdown-content2 a:hover {
        background-color:#0c7ae6;
        color: #ffffff;
      }
  
      .show {
        display:block;
      }
    
      .sticky {
        position: fixed;
        bottom: 880px;
        width: 100%;
        height: 90px;
      }
    
      .sticky + .content {
        padding-top: 60px;
      }


      .support{
        -webkit-text-size-adjust: 100%;
        line-height: 1;
        display: block;
        max-width: 100%;
        height: 1000px;
        padding: 64px 0;
        box-sizing: border-box;
        color: #ffffff;
        background: #17142f;
      }
  
      .support > h4{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        font-weight: 300;
        margin: 0px auto;
        text-align: center;
        max-width: 1100px;
        padding-left: 64px;
        padding-right: 64px;
      }
  
      .supportList{
          -webkit-text-size-adjust: 100%;
          display: block;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          padding: 64px 50px 0 50px;
          box-sizing: border-box;
      }
  
      .header{
          -webkit-text-size-adjust: 100%;
          line-height: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 24px auto;
          margin-top: 0;
      }
  
      .anyQuestion{
          -webkit-text-size-adjust: 100%;
          font-family: "LightFont", sans-serif;
          color: #ffffff;
          text-transform: uppercase;
          line-height: 1;
          font-size: 32px;
          font-weight: 300;
          text-align: center;
      }
  
      .FAQbutton{
          -webkit-text-size-adjust: 100%;
          font-family: "RegularFont", sans-serif;
          font-size: 16px;
          text-decoration: none;
          display: block;
          text-align: center;
          background-color: #129af0;
          color: #ffffff;
          line-height: 1;
          text-transform: uppercase;
          font-weight: 500;
          padding: 8px 32px;
          border-radius: 2px;
          box-shadow: 0 64px 256px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          max-width: 728px;
          margin: 0 auto;
      }
  
      .FAQbutton:hover{
          background-color: #0c7ae6;
      }
  
      .support-portal-list{
          line-height: 1;
          color: #ffffff;
          margin: 24px auto;
          margin-bottom: 0;
          width: 1750px;
      }
  
      .support-portal-list > a{
          opacity: 0.8;
      }

      .support-portal-list > a:hover{
        opacity: 1;
        background: #129af0;
      }
  
      .Rent{
          -webkit-text-size-adjust: 100%;
          line-height: 3;
          text-decoration: none;
          position: relative;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          width: calc((100% - 32px) / 2);
          margin-bottom: 32px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 2px;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          height: 256px;
          background-image: url('Image/Screenshot4k_1.jpg');
      }
  
      .Detail{
          -webkit-text-size-adjust: 100%;
          line-height: 3;
          text-decoration: none;
          position: relative;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          width: calc((100% - 32px) / 2);
          margin-bottom: 32px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 2px;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          height: 256px;
          background-image: url('Image/Screenshot4k_2.jpg');
      }
  
      .support-portal-list > a > h2{
          -webkit-text-size-adjust: 100%;
          font-family: "BoldFont", sans-serif;
          color: #ffffff;
          font-weight: 700;
          line-height: 1;
          text-transform: uppercase;
          position: relative;
          z-index: 2;
          padding: 16px 32px;
          box-sizing: border-box;
          width: 100%;
          margin: 0;
          font-size: 32px;
          padding-top: 32px;
      }
  
      .support-portal-list > a > p{
          -webkit-text-size-adjust: 100%;
          font-family: "LightFont", sans-serif;
          font-weight: 800;
          font-size: 16px;
          color: #ffffff;
          line-height: 24px;
          position: relative;
          z-index: 2;
          padding: 16px 32px;
          box-sizing: border-box;
          width: 100%;
          margin: 0;
          background: rgba(0, 0, 0, 0.5);
          padding-bottom: 32px;
      }
  
      .QnA{
          background-image: url(Image/testimony-bg.jpg);
          height: 1000px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-top: -30px;
          position: relative;
          z-index: 2;
          display: block;
          max-width: 100%;
          padding: 32px;
          height: 100%;
      }
  
      .qna-item{
          -webkit-text-size-adjust: 100%;
          font-family: "RegularFont", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 1;
          color: #ffffff;
          margin: 24px auto;
          position: relative;
          padding: 20px 30px 10px 50px;
          width: 800px;
          z-index: 2;
          border-radius: 3px;
          background: linear-gradient(to right, #4a447f, rgba(18, 154, 240, 0.5));
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
      }
  
      #question, #question2, #question3, #question4{
          display: block;
          font-family: "RegularFont", sans-serif;
          font-weight: 500;
          font-size: 30px;
          padding-bottom: 10px;
          cursor: pointer;
      }
  
      #answer, #answer2, #answer3, #answer4{        
          font-family: "RegularFont", sans-serif;
          font-weight: 500;
          font-size: 17px;
          line-height: 1.5;
          color: #ffffff;
          display: none;
          padding: 10px 0 -5px;
          position: relative;
          border-top: 5px solid rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      }
  
      #question:hover, #question2:hover, #question3:hover, #question4:hover{
          padding-left: 20px;
          transition: 0.2s;
      }

      .vidLink{
          color: #ffffff;
          text-decoration: none;
      }
  
      .vidLink:hover{
          color: #129af0;
      }
  
      .h4text{
          font-size: 25px;
          font-family: "BoldFont", sans-serif;
      }
  
      .topButton{
          -webkit-text-size-adjust: 100%;
          font-family: "RegularFont", sans-serif;
          font-size: 16px;
          text-decoration: none;
          display: block;
          text-align: center;
          background-color: #129af0;
          color: #ffffff;
          line-height: 1;
          text-transform: uppercase;
          font-weight: 500;
          padding: 8px 32px;
          border-radius: 2px;
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          max-width: 100px;
          margin: 0 auto;
      }
  
      .topButton:hover{
          background-color: #0c7ae6;
      }


    .social{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: 64px 0;
      box-sizing: border-box;
      color: #ffffff;
      background: #0c0d1d;
      height: 350px;
    }

    .social > h4{
      -webkit-text-size-adjust: 100%;
      font-family: "LightFont", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1;
      font-size: 32px;
      font-weight: 300;
      margin: 24px auto;
      margin-top: 0;
      text-align: center;
    }

    .social-wrapper{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      color: #ffffff;
      margin: 24px auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .social-link{
      -webkit-text-size-adjust: 100%;
      font-family: "BoldFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      text-decoration: none;
      display: block;
      text-align: center;
      height: 128px;
      width: 128px;
      cursor: pointer;
      opacity: 0.75;
    }

    .social-link > img{
      padding-top: 15px;
      height: 70px;
      width: 70px;
      background-size: auto 64px;
      background-repeat: no-repeat;
      padding-bottom: 10px;
    }

    .social-link > strong{
      text-transform: uppercase;
    }

    .social-link:hover{
      opacity: 1;
      background-size: auto 72px;
      background-color:#129af0;
    }
    

    .mailing-list{
      -webkit-text-size-adjust: 100%;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .subscribe{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-size: 16px;
      text-decoration: none;
      display: block;
      text-align: center;
      background-color: #129af0;
      color: #ffffff;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 500;
      padding: 6px;
      border-radius: 2px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      max-width: 728px;
      margin: 0 auto;
    }

    .subscribe:hover{
      background-color: #0c7ae6;
    }

    footer{
      display: block;
      background: #0c0d1d;
      color: #ffffff;
      padding: 64px 0;
    }

    footer > a{
      -webkit-text-size-adjust: 100%;
      text-decoration: none;
      margin: 24px auto;
      margin-top: 0;
    }

    footer > a > img{
      -webkit-text-size-adjust: 100%;
      border: 0;
      display: block;
      width: 128px;
      margin: 0 auto;
    }

    .footer-nav{
      display: block;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .footer-nav > ul{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer-nav > ul > li{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      list-style: none;
      text-transform: uppercase;
      padding-right: 16px;
    }

    .footer-nav > ul > li > a{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      list-style: none;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      padding-left: 15px;
      border-left: 1px solid #ffffff;
    }
    
    .footer-nav > ul > li > a:hover{
      color: #129af0;
    }
  }
  
  @media only screen and (min-width: 992px) {
    @font-face {
      font-family: BoldFont;
      src: url(Font/NDAstroneer-Bold.ttf);
    }

    @font-face {
      font-family: RegularFont;
      src: url(Font/NDAstroneer-Regular.ttf);
    }

    @font-face {
      font-family: LightFont;
      src: url(Font/NDAstroneer-Light.ttf);
    }
    

    .Intro{
      background-image: url(Image/faq-bg.jpg);
      height: 670px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -10px;
      position: relative;
    }
  
    span{
      -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        text-align: center;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
    }

    .navbar1{
      -webkit-text-size-adjust: 100%;
        color: #ffffff;
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin-left: -130px;
        padding-right: 130px;
        background: rgba(12, 13, 29, 0.75);
        box-shadow: 0 0 16px rgba(23, 20, 47, 0.5);
        padding-top: 15px;
        height: 60px;
    }

    #navbar2 > ul{
        -webkit-text-size-adjust: 100%;
          line-height: 1;
          margin-left: 250px;
          margin-right: 40px;
          margin-bottom: 10px;
          margin-top: -10px;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          max-width: 1280px;
      }
  
  
    .link{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        line-height: 1;
        list-style: none;
        color: #ffffff;
        text-decoration: none;
        font-size: 22px;
        margin-top: 10px;
        display: block;
        text-transform: uppercase;
    }
  
    .link:hover{
      color: rgb(25, 125, 218);
    }
  
    .emblem{
      -webkit-text-size-adjust: 100%;
      list-style: none;
      color: #ffffff;
      text-transform: uppercase;
      display: block;
      max-height: 48px;
      margin-top: 5px;
    }

    .logo{
      margin-left: 313px;
      margin-top: 100px;
      max-width: 744px;
    }

    .Intro > h3{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        font-size: 60px;
        width: 80%;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
        text-transform: uppercase;
        margin-left: 500px;
        margin-top: 70px;
        border-top: 3px solid #ffffff;
        max-width: 425px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 48px;
        color: #ffffff;
    }
  
  
    #navbar2 {
        -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        display: block;
        font-size: 16px;
        color: #ffffff;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 81px;
        margin-left: -250px;
        padding-left: 50px;
        padding-top: 10px;
        z-index: 3;
        background: rgba(12, 13, 29, 0.75);
    }
  
    .sticky {
      position: fixed;
      bottom: 570px;
      width: 120%;
      height: 90px;
    }
  
    .sticky + .content {
      padding-top: 60px;
    }
  
    .ul2{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
  
    .ul2 > li{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        flex-grow: 1;
        margin: 0 8px;
        margin-left: 0;
        padding-left: 10px;
    }
  
    .button{
        -webkit-text-size-adjust: 100%;
        width: 240px;
        text-decoration: none;
        text-align: center;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        background-color: #129af0;
        border: 1px solid cyan;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    .button:hover{
      background-color: #0c7ae6;
    }
  
    .icon{
      height: 32px;
      width: 32px;
      padding-right: 10px;
    }

    .dropbtn {
      display: none;
      background: rgba(12, 13, 29, 0.75);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      height: 20px;
      padding-right: 350px;
      padding-left: 50px;
      margin-top: 590px;
    }

    .dropbtn2 {
      display: none;
      background: rgba(12, 13, 29, 0.75);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      height: 52px;
      padding-left: 350px;
      padding-right: 50px;
      margin-top: 590px;
      font-family:"RegularFont", sans-serif;
      text-transform: uppercase;
    }

    .dropbtn:focus, .dropbtn2:focus {
      background-color:#129af0;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown2 {
      position: absolute;
      left: 460px;
      top: 0;
    }

    .dropdown-content {
      display: none;
      background-color: rgba(12, 13, 29, 0.75);
      min-width: 459px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -13px;
    }

    .iconMobile{
      width: 40px;
      padding: 5px;
      padding-left: 15px;
    }

    .dropdown-content2 {
      display: none;
      background-color: rgba(12, 13, 29, 0.75);
      min-width: 459px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -13px;
      right: 0;
    }

    .dropdown-content a {
      color:#ffffff;
      font-family:"RegularFont", sans-serif;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .show {
      display:block;
    }

    .dropbtn {
        display: none;
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 20px;
        padding-right: 350px;
        padding-left: 50px;
        margin-top: 590px;
      }
  
      .dropbtn2 {
        display: none;
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 52px;
        padding-left: 350px;
        padding-right: 50px;
        margin-top: 590px;
        font-family:"RegularFont", sans-serif;
        text-transform: uppercase;
      }
  
      .dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus {
        background-color:#129af0;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropdown2 {
        position: absolute;
        left: 460px;
        top: 0;
      }
  
      .dropdown-content {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -13px;
      }
  
      .iconMobile{
        width: 40px;
        padding: 5px;
        padding-left: 15px;
      }
  
      .dropdown-content2 {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -13px;
        right: 0;
      }
  
      .dropdown-content a {
        color:#ffffff;
        font-family:"RegularFont", sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        background-color: #ddd;
      }
  
      .show {
        display:block;
      }

    
    .support{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: 64px 0;
      box-sizing: border-box;
      color: #ffffff;
      background: #17142f;
      height: 650px;
    }

    .support > h4{
      -webkit-text-size-adjust: 100%;
      font-family: "LightFont", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1;
      font-size: 32px;
      font-weight: 300;
      margin: 0px auto;
      text-align: center;
      max-width: 1200px;
      padding-left: 64px;
      padding-right: 64px;
    }

    .supportList{
        -webkit-text-size-adjust: 100%;
        display: block;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        padding: 64px 305px;
        box-sizing: border-box;
    }

    .header{
        -webkit-text-size-adjust: 100%;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px auto;
        margin-top: 0;
        max-width: 160%;
        margin-left: -200px;
    }

    .anyQuestion{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        margin-right: 300px;
        font-weight: 300;
        text-align: center;
    }

    .FAQbutton{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        background-color: #129af0;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 64px 256px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        max-width: 728px;
        margin: 0 auto;
    }

    .FAQbutton:hover{
        background-color: #0c7ae6;
    }

    .support-portal-list{
        line-height: 1;
        color: #ffffff;
        margin: 24px auto;
        margin-bottom: 0;
        max-width: 160%;
        margin-left: -200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .support-portal-list > a{
        opacity: 0.8;
    }

    .support-portal-list > a:hover{
      opacity: 1;
      background: #129af0;
    }

    .Rent{
        -webkit-text-size-adjust: 100%;
        line-height: 3;
        text-decoration: none;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: calc((100% - 16px) / 2);
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        height: 256px;
        background-image: url('Image/Screenshot4k_1.jpg');
    }

    .Detail{
        -webkit-text-size-adjust: 100%;
        line-height: 3;
        text-decoration: none;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: calc((100% - 32px) / 2);
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        height: 256px;
        background-image: url('Image/Screenshot4k_2.jpg');
    }

    .support-portal-list > a > h2{
        -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        color: #ffffff;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        padding: 16px 32px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        font-size: 32px;
        padding-top: 32px;
    }

    .support-portal-list > a > p{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        font-weight: 800;
        font-size: 16px;
        color: #ffffff;
        line-height: 24px;
        position: relative;
        z-index: 2;
        padding: 16px 32px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        background: rgba(0, 0, 0, 0.5);
        padding-bottom: 32px;
    }


    .QnA{
        background-image: url(Image/testimony-bg.jpg);
        height: 1000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        display: block;
        max-width: 100%;
        padding: 64px;
        height: 100%;
    }

    .qna-item{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
        margin: 24px auto;
        position: relative;
        padding: 20px 30px 10px 50px;
        width: 1000px;
        z-index: 2;
        border-radius: 3px;
        background: linear-gradient(to right, #4a447f, rgba(18, 154, 240, 0.5));
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    #question, #question2, #question3, #question4{
        display: block;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 30px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    #answer, #answer2, #answer3, #answer4{        
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
        color: #ffffff;
        display: none;
        padding: 10px 0 -5px;
        position: relative;
        border-top: 5px solid rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    }

    #question:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question2:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question3:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question4:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    .vidLink{
        color: #ffffff;
        text-decoration: none;
    }

    .vidLink:hover{
        color: #129af0;
    }

    .h4text{
        font-size: 25px;
        font-family: "BoldFont", sans-serif;
    }

    .topButton{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        background-color: #129af0;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        max-width: 100px;
        margin: 0 auto;
    }

    .topButton:hover{
        background-color: #0c7ae6;
    }


    .social{
        -webkit-text-size-adjust: 100%;
        line-height: 1;
        display: block;
        max-width: 100%;
        overflow: hidden;
        padding: 64px 0;
        box-sizing: border-box;
        color: #ffffff;
        background: #17142f;
        height: 350px;
    }

    .social > h4{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        font-weight: 300;
        margin: 24px auto;
        margin-top: 0;
        text-align: center;
    }

    .social-wrapper{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      color: #ffffff;
      margin: 24px auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .social-link{
      -webkit-text-size-adjust: 100%;
      font-family: "BoldFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      text-decoration: none;
      display: block;
      text-align: center;
      height: 128px;
      width: 128px;
      cursor: pointer;
      opacity: 0.75;
    }

    .social-link > img{
      padding-top: 15px;
      height: 70px;
      width: 70px;
      background-size: auto 64px;
      background-repeat: no-repeat;
      padding-bottom: 10px;
    }

    .social-link > strong{
      text-transform: uppercase;
    }

    .social-link:hover{
      opacity: 1;
      background-size: auto 72px;
      background-color:#129af0;
    }
    

    .mailing-list{
      -webkit-text-size-adjust: 100%;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .subscribe{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-size: 16px;
      text-decoration: none;
      display: block;
      text-align: center;
      background-color: #129af0;
      color: #ffffff;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 500;
      padding: 6px;
      border-radius: 2px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      max-width: 728px;
      margin: 0 auto;
    }

    .subscribe:hover{
      background-color: #0c7ae6;
    }

    footer{
      display: block;
      background: #0c0d1d;
      color: #ffffff;
      padding: 64px 0;
    }

    footer > a{
      -webkit-text-size-adjust: 100%;
      text-decoration: none;
      margin: 24px auto;
      margin-top: 0;
    }

    footer > a > img{
      -webkit-text-size-adjust: 100%;
      border: 0;
      display: block;
      width: 128px;
      margin: 0 auto;
    }

    .footer-nav{
      vertical-align: middle;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .footer-nav > ul{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer-nav > ul > li{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      list-style: none;
      text-transform: uppercase;
    }

    .footer-nav > ul > li > a{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      list-style: none;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      border-left: 1px solid #ffffff;
    }
    
    .footer-nav > ul > li > a:hover{
      color: #129af0;
    }
  }


  @media only screen and (min-width: 1400px) {
    @font-face {
      font-family: BoldFont;
      src: url(Font/NDAstroneer-Bold.ttf);
    }

    @font-face {
      font-family: RegularFont;
      src: url(Font/NDAstroneer-Regular.ttf);
    }

    @font-face {
      font-family: LightFont;
      src: url(Font/NDAstroneer-Light.ttf);
    }
    

    .Intro{
      background-image: url(Image/faq-bg.jpg);
      height: 670px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -10px;
      position: relative;
    }
  
    span{
      -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        text-align: center;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
    }

    .navbar1{
      -webkit-text-size-adjust: 100%;
        color: #ffffff;
        display: block;
        position: absolute;
        width: 92.6%;
        top: 0;
        left: 0;
        margin-left: 9px;
        background: rgba(12, 13, 29, 0.75);
        box-shadow: 0 0 16px rgba(23, 20, 47, 0.5);
        padding-top: 15px;
        height: 60px;
    }

    #navbar2 > ul{
        -webkit-text-size-adjust: 100%;
          line-height: 1;
          margin-left: 250px;
          margin-right: 40px;
          margin-bottom: 10px;
          margin-top: -10px;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          max-width: 1280px;
      }
  
  
    .link{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        line-height: 1;
        list-style: none;
        color: #ffffff;
        text-decoration: none;
        font-size: 22px;
        margin-top: 10px;
        display: block;
        text-transform: uppercase;
    }
  
    .link:hover{
      color: rgb(25, 125, 218);
    }
  
    .emblem{
      -webkit-text-size-adjust: 100%;
      list-style: none;
      color: #ffffff;
      text-transform: uppercase;
      display: block;
      max-height: 48px;
      margin-top: 5px;
    }

    .logo{
      margin-left: 560px;
      margin-top: 100px;
      max-width: 744px;
    }

    .Intro > h3{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        font-size: 60px;
        width: 80%;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
        text-transform: uppercase;
        margin-left: 720px;
        margin-top: 70px;
        border-top: 3px solid #ffffff;
        max-width: 425px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 48px;
        color: #ffffff;
    }
  
  
    #navbar2 {
        -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        display: block;
        font-size: 16px;
        color: #ffffff;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 81px;
        padding-left: 50px;
        padding-top: 10px;
        z-index: 3;
        background: rgba(12, 13, 29, 0.75);
    }
  
    .sticky {
      position: fixed;
      bottom: 879px;
      width: 100%;
      height: 90px;
    }
  
    .sticky + .content {
      padding-top: 60px;
    }
  
    .ul2{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
    }
  
    .ul2 > li{
      -webkit-text-size-adjust: 100%;
        list-style: none;
        flex-grow: 1;
        margin: 0 8px;
        margin-left: 0;
        padding-left: 10px;
    }
  
    .button{
        -webkit-text-size-adjust: 100%;
        width: 240px;
        text-decoration: none;
        text-align: center;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        background-color: #129af0;
        border: 1px solid cyan;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    .button:hover{
      background-color: #0c7ae6;
    }
  
    .icon{
      height: 32px;
      width: 32px;
      padding-right: 10px;
    }

    .dropbtn {
      display: none;
      background: rgba(12, 13, 29, 0.75);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      height: 20px;
      padding-right: 350px;
      padding-left: 50px;
      margin-top: 590px;
    }

    .dropbtn2 {
      display: none;
      background: rgba(12, 13, 29, 0.75);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      height: 52px;
      padding-left: 350px;
      padding-right: 50px;
      margin-top: 590px;
      font-family:"RegularFont", sans-serif;
      text-transform: uppercase;
    }

    .dropbtn:focus, .dropbtn2:focus {
      background-color:#129af0;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown2 {
      position: absolute;
      left: 460px;
      top: 0;
    }

    .dropdown-content {
      display: none;
      background-color: rgba(12, 13, 29, 0.75);
      min-width: 459px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -13px;
    }

    .iconMobile{
      width: 40px;
      padding: 5px;
      padding-left: 15px;
    }

    .dropdown-content2 {
      display: none;
      background-color: rgba(12, 13, 29, 0.75);
      min-width: 459px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -13px;
      right: 0;
    }

    .dropdown-content a {
      color:#ffffff;
      font-family:"RegularFont", sans-serif;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .show {
      display:block;
    }

    .dropbtn {
        display: none;
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 20px;
        padding-right: 350px;
        padding-left: 50px;
        margin-top: 590px;
      }
  
      .dropbtn2 {
        display: none;
        background: rgba(12, 13, 29, 0.75);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 52px;
        padding-left: 350px;
        padding-right: 50px;
        margin-top: 590px;
        font-family:"RegularFont", sans-serif;
        text-transform: uppercase;
      }
  
      .dropbtn:hover, .dropbtn:focus, .dropbtn2:hover, .dropbtn2:focus {
        background-color:#129af0;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropdown2 {
        position: absolute;
        left: 460px;
        top: 0;
      }
  
      .dropdown-content {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -13px;
      }
  
      .iconMobile{
        width: 40px;
        padding: 5px;
        padding-left: 15px;
      }
  
      .dropdown-content2 {
        display: none;
        background-color: rgba(12, 13, 29, 0.75);
        min-width: 459px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: -13px;
        right: 0;
      }
  
      .dropdown-content a {
        color:#ffffff;
        font-family:"RegularFont", sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        background-color: #ddd;
      }
  
      .show {
        display:block;
      }

    
    .support{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      display: block;
      max-width: 100%;
      overflow: hidden;
      padding: 64px 0;
      box-sizing: border-box;
      color: #ffffff;
      background: #17142f;
      height: 650px;
    }

    .support > h4{
      -webkit-text-size-adjust: 100%;
      font-family: "LightFont", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1;
      font-size: 32px;
      font-weight: 300;
      margin: 0px auto;
      text-align: center;
      max-width: 1100px;
      padding-left: 64px;
      padding-right: 64px;
    }

    .supportList{
        -webkit-text-size-adjust: 100%;
        display: block;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        padding: 64px 305px;
        box-sizing: border-box;
    }

    .header{
        -webkit-text-size-adjust: 100%;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px auto;
        margin-top: 0;
    }

    .anyQuestion{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
    }

    .FAQbutton{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        background-color: #129af0;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 64px 256px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        max-width: 728px;
        margin: 0 auto;
    }

    .FAQbutton:hover{
        background-color: #0c7ae6;
    }

    .support-portal-list{
        line-height: 1;
        color: #ffffff;
        margin: 24px auto;
        margin-bottom: 0;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .support-portal-list > a{
        opacity: 0.8;
    }

    .support-portal-list > a:hover{
      opacity: 1;
      background: #129af0;
    }

    .Rent{
        -webkit-text-size-adjust: 100%;
        line-height: 3;
        text-decoration: none;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: calc((100% - 32px) / 2);
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        height: 256px;
        background-image: url('Image/Screenshot4k_1.jpg');
    }

    .Detail{
        -webkit-text-size-adjust: 100%;
        line-height: 3;
        text-decoration: none;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: calc((100% - 32px) / 2);
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        height: 256px;
        background-image: url('Image/Screenshot4k_2.jpg');
    }

    .support-portal-list > a > h2{
        -webkit-text-size-adjust: 100%;
        font-family: "BoldFont", sans-serif;
        color: #ffffff;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        padding: 16px 32px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        font-size: 32px;
        padding-top: 32px;
    }

    .support-portal-list > a > p{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        font-weight: 800;
        font-size: 16px;
        color: #ffffff;
        line-height: 24px;
        position: relative;
        z-index: 2;
        padding: 16px 32px;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        background: rgba(0, 0, 0, 0.5);
        padding-bottom: 32px;
    }


    .QnA{
        background-image: url(Image/testimony-bg.jpg);
        height: 1000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -30px;
        position: relative;
        z-index: 2;
        display: block;
        max-width: 100%;
        padding: 64px;
        height: 100%;
    }

    .qna-item{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
        margin: 24px auto;
        position: relative;
        padding: 20px 30px 10px 50px;
        width: 1200px;
        z-index: 2;
        border-radius: 3px;
        background: linear-gradient(to right, #4a447f, rgba(18, 154, 240, 0.5));
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    #question, #question2, #question3, #question4{
        display: block;
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 30px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    #answer, #answer2, #answer3, #answer4{        
        font-family: "RegularFont", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
        color: #ffffff;
        display: none;
        padding: 10px 0 -5px;
        position: relative;
        border-top: 5px solid rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    }

    #question:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question2:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question3:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    #question4:hover{
        padding-left: 20px;
        transition: 0.2s;
    }

    .vidLink{
        color: #ffffff;
        text-decoration: none;
    }

    .vidLink:hover{
        color: #129af0;
    }

    .h4text{
        font-size: 25px;
        font-family: "BoldFont", sans-serif;
    }

    .topButton{
        -webkit-text-size-adjust: 100%;
        font-family: "RegularFont", sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        background-color: #129af0;
        color: #ffffff;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
        padding: 8px 32px;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        max-width: 100px;
        margin: 0 auto;
    }

    .topButton:hover{
        background-color: #0c7ae6;
    }


    .social{
        -webkit-text-size-adjust: 100%;
        line-height: 1;
        display: block;
        max-width: 100%;
        overflow: hidden;
        padding: 64px 0;
        box-sizing: border-box;
        color: #ffffff;
        background: #17142f;
        height: 350px;
    }

    .social > h4{
        -webkit-text-size-adjust: 100%;
        font-family: "LightFont", sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        font-weight: 300;
        margin: 24px auto;
        margin-top: 0;
        text-align: center;
    }

    .social-wrapper{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      color: #ffffff;
      margin: 24px auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .social-link{
      -webkit-text-size-adjust: 100%;
      font-family: "BoldFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      text-decoration: none;
      display: block;
      text-align: center;
      height: 128px;
      width: 128px;
      cursor: pointer;
      opacity: 0.75;
    }

    .social-link > img{
      padding-top: 15px;
      height: 70px;
      width: 70px;
      background-size: auto 64px;
      background-repeat: no-repeat;
      padding-bottom: 10px;
    }

    .social-link > strong{
      text-transform: uppercase;
    }

    .social-link:hover{
      opacity: 1;
      background-size: auto 72px;
      background-color:#129af0;
    }
    

    .mailing-list{
      -webkit-text-size-adjust: 100%;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .subscribe{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-size: 16px;
      text-decoration: none;
      display: block;
      text-align: center;
      background-color: #129af0;
      color: #ffffff;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 500;
      padding: 6px;
      border-radius: 2px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      max-width: 728px;
      margin: 0 auto;
    }

    .subscribe:hover{
      background-color: #0c7ae6;
    }

    footer{
      display: block;
      background: #0c0d1d;
      color: #ffffff;
      padding: 64px 0;
    }

    footer > a{
      -webkit-text-size-adjust: 100%;
      text-decoration: none;
      margin: 24px auto;
      margin-top: 0;
    }

    footer > a > img{
      -webkit-text-size-adjust: 100%;
      border: 0;
      display: block;
      width: 128px;
      margin: 0 auto;
    }

    .footer-nav{
      vertical-align: middle;
      margin: 24px auto;
      margin-bottom: 0;
    }

    .footer-nav > ul{
      -webkit-text-size-adjust: 100%;
      line-height: 1;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer-nav > ul > li{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #ffffff;
      list-style: none;
      text-transform: uppercase;
    }

    .footer-nav > ul > li > a{
      -webkit-text-size-adjust: 100%;
      font-family: "RegularFont", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      list-style: none;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      border-left: 1px solid #ffffff;
    }
    
    .footer-nav > ul > li > a:hover{
      color: #129af0;
    }
  }